<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间：对应的接口的全类名-->
<mapper namespace="com.woniu.hospital_information_system.mapper.EmployeeMapper">
    <!--id和对应的mapper接口中的方法名一样-->
    <select id="getEmployeeByUnitId" resultType="Employee">
        select * from employee e,employee_unit eu,unit u where e.employee_id=eu.employee_id and eu.unit_id=u.unit_id and u.unit_id = #{unitId}
    </select>
    <select id="selectEmployee" resultType="com.woniu.hospital_information_system.entity.Employee">
        select * from employee e LEFT JOIN employee_role er on e.employee_id = er.employee_id LEFT JOIN role r on r.role_id = er.employee_role_id where r.role_id in (2,3,4)
    </select>
</mapper>