<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间：对应的接口的全类名-->
<mapper namespace="com.woniu.hospital_information_system.mapper.EmployeeMapper">
    <!--id和对应的mapper接口中的方法名一样-->
    <select id="getEmployeeByUnitId" resultType="Employee">
        select * from employee e,employee_unit eu,unit u where e.employee_id=eu.employee_id and eu.unit_id=u.unit_id and u.unit_id = #{unitId}
    </select>
    <select id="selectEmployee" resultType="com.woniu.hospital_information_system.entity.Employee">
        select * from employee e LEFT JOIN employee_role er on e.employee_id = er.employee_id LEFT JOIN role r on r.role_id = er.employee_role_id where r.role_id in (2,3,4)
    </select>
    <select id="selectUnitByDoctorId" resultType="com.woniu.hospital_information_system.entity.Unit">
        select u.* from unit u
            left join employee_unit eu on eu.unit_id = u.unit_id
            left join employee e on eu.employee_id = e.employee_id
        where e.employee_id = #{doctorId}
    </select>
    <select id="getAllVO" resultMap="EmployeeVOMap">
        select
            e.employee_id, e.employee_name, u.unit_id, u.unit_name, r.role_id, r.role_name
        from employee e
        left join employee_unit eu on e.employee_id = eu.employee_id
        left join unit u on eu.unit_id = u.unit_id
        left join employee_role er on e.employee_id = er.employee_id
        left join role r on er.role_id = r.role_id
    </select>
    <resultMap id="EmployeeVOMap" type="employeeVO">
        <id property="employeeId" column="employee_id" />
        <result property="employeeName" column="employee_name" />

        <association property="unit" javaType="unit" >
            <id property="unitId" column="unit_id"></id>
            <result property="unitName" column="unit_name"></result>
        </association>

        <association property="role" javaType="role">
            <id property="roleId" column="role_id"></id>
            <result property="roleName" column="role_name" ></result>
        </association>
    </resultMap>
</mapper>