<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间：对应的接口的全类名-->
<mapper namespace="com.woniu.hospital_information_system.mapper.PatientInfoMapper">
    <!--id和对应的mapper接口中的方法名一样-->

    <insert id="insertPatientInfo">
        insert into patient_info values (null,#{visitorId},#{patientName},#{gender},#{age},#{idNumber},#{unitId},#{doctorId},#{insuranceStatus},#{inTime},
                                         null,#{clinicDiagnosisId},null,null,null,null,0,0)
    </insert>
    <select id="selectPatientInfoByIdNumber"
            resultType="com.woniu.hospital_information_system.entity.PatientInfo">
        select * from patient_info where id_number = #{idNumber}
    </select>
</mapper>