<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间：对应的接口的全类名-->
<mapper namespace="com.woniu.hospital_information_system.mapper.PatientOrderMapper">
    <!--添加住院医嘱信息-->
    <insert id="addPatientOrderByPatientOrderId">
        insert into patient_order
        values (null, #{patient.patientId}, #{employee.employeeId}, #{treatmentId}, #{treatmentName}, #{administration.administrationId}, #{dosage.dosageId},
                #{treatmentCount}, null, null, 1, #{orderType})
    </insert>
    <resultMap id="PatientOrderMap" type="patientOrder">
        <id property="patientOrderId" column="patient_order_id"></id>
        <result property="treatmentId" column="treatment_id"></result>
        <result property="treatmentName" column="treatment_name"></result>
        <result property="treatmentCount" column="treatment_count"></result>
        <result property="executionTime" column="execution_time"></result>
        <result property="dispenseTime" column="dispense_time"></result>
        <result property="executionStatus" column="execution_status"></result>
        <result property="orderType" column="order_type"></result>
        <association property="patient" javaType="patientInfo">
            <id property="patientId" column="patient_id"></id>
            <result property="patientName" column="patient_name"></result>
        </association>
        <association property="employee" javaType="employee">
            <id property="employeeId" column="doctor_id"></id>
            <result property="employeeName" column="employee_name"></result>
        </association>
        <association property="administration" javaType="administration">
            <id property="administrationId" column="administration_id"></id>
            <result property="administrationName" column="administration_name"></result>
        </association>
        <association property="dosage" javaType="dosage">
            <id property="dosageId" column="dosage_id"></id>
            <result property="dosageName" column="dosage_name"></result>
        </association>
    </resultMap>
    <select id="selectAllPatientOrders" resultMap="PatientOrderMap">
        SELECT po.patient_order_id,po.patient_id,pi.patient_name,po.doctor_id,e.employee_name,po.treatment_id,po.treatment_name,po.administration_id,
               a.administration_name,po.dosage_id,d.dosage_name,po.treatment_count,po.execution_time,po.dispense_time,po.execution_status,po.order_type
        FROM patient_order po
                 left join patient_info pi on po.patient_id = pi.patient_id
                 left join employee e on po.doctor_id = e.employee_id
                 left join administration a on po.administration_id = a.administration_id
                 left join dosage d on po.dosage_id = d.dosage_id
        where po.execution_status = 1
    </select>
    <select id="selectPatientOrderByPatientId" resultMap="PatientOrderMap">
        SELECT po.patient_order_id,po.patient_id,pi.patient_name,po.doctor_id,e.employee_name,po.treatment_id,po.treatment_name,po.administration_id,
               a.administration_name,po.dosage_id,d.dosage_name,po.treatment_count,po.execution_time,po.dispense_time,po.execution_status,po.order_type
        FROM patient_order po
                 left join patient_info pi on po.patient_id = pi.patient_id
                 left join employee e on po.doctor_id = e.employee_id
                 left join administration a on po.administration_id = a.administration_id
                 left join dosage d on po.dosage_id = d.dosage_id
        where po.patient_id = #{patientId}
    </select>
    <select id="selectPatientOrderByKeyWord" resultMap="PatientOrderMap">
        SELECT po.patient_order_id,po.patient_id,pi.patient_name,po.doctor_id,e.employee_name,po.treatment_id,po.treatment_name,po.administration_id,
               a.administration_name,po.dosage_id,d.dosage_name,po.treatment_count,po.execution_time,po.dispense_time,po.execution_status,po.order_type
        FROM patient_order po
                 left join patient_info pi on po.patient_id = pi.patient_id
                 left join employee e on po.doctor_id = e.employee_id
                 left join administration a on po.administration_id = a.administration_id
                 left join dosage d on po.dosage_id = d.dosage_id
        <where>
                po.execution_status = 1
            <if test="patientOrderId!=null">
                and po.patient_order_id = #{patientOrderId}
            </if>
        </where>
    </select>
</mapper>