<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniu.hospital_information_system.mapper.VisitorBillMapper">
    <select id="getAllBillsByVisitorId" resultType="visitorBillVO">
        select visitor_bill_id,visitor_id,treatment.treatment_name,drug_count,visitor_bill.treatment_price,visitor_bill.payment_status from visitor_bill,treatment
        where treatment.treatment_id=visitor_bill.treatment_id
        and payment_status = 1
        and visitor_id = #{visitorId};
    </select>
    <select id="getRefundBillsByVisitorId" resultType="visitorBillVO">
        select visitor_bill_id,visitor_id,treatment.treatment_name,drug_count,visitor_bill.treatment_price,visitor_bill.payment_status from visitor_bill,treatment
        where treatment.treatment_id=visitor_bill.treatment_id
          and payment_status = 2
          and visitor_id = #{visitorId};
    </select>
</mapper>
