<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间：对应的接口的全类名-->
<mapper namespace="com.woniu.hospital_information_system.mapper.VisitorInfoMapper">
    <!--id和对应的mapper接口中的方法名一样-->
    <insert id="addVisitorInfo" >
        <selectKey keyProperty="visitorId" resultType="Integer" statementType="PREPARED" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        <if test="gender==1">
            insert into visitor_info values (null,#{visitorName},1,#{age},#{idNumber},#{phone},#{unitId},#{doctorId},null,null,1)
        </if>
        <if test="gender==2">
            insert into visitor_info values (null,#{visitorName},2,#{age},#{idNumber},#{phone},#{unitId},#{doctorId},null,null,1)
        </if>
    </insert>

    <select id="getVisitorInfoByPaySuccess" resultType="VisitorInfo">
        select * from visitor_info vi ,visitor_bill vb
        where vi.visitor_id=vb.visitor_id and
            vb.payment_status = 2
    </select>

</mapper>